@model IEnumerable<CompanyViewModel>


<partial name="_Notifications"/>


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Companies</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row  pb-3">
            <div class="col-6">
                </div>
            <div class="col-6 text-end">
                <a asp-controller="Company" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Company
                </a>
            </div>
        </div>


        <table id="tableData" class="table table-bordered table-striped">
            <thead>
            <tr>
                <td>@Html.DisplayNameFor(C=> C.Name)</td>
                <td>@Html.DisplayNameFor(C => C.PhoneNumber)</td>
                <td>@Html.DisplayNameFor(C => C.StreetAddress)</td>
                <td>@Html.DisplayNameFor(C => C.City)</td>
                <td>@Html.DisplayNameFor(C => C.State)</td>
            </tr>

            </thead>

                
        </table>
    </div>
</div>



@section Scripts{
    <script src="~/js/company.js"></script>
}

    @*
@foreach (var product in @Model.OrderBy(C => C.Price))
{
    <tr>
        <td>
            <img src="~/Images/Product/@product.ImageName" class=" rounded img-fluid" height="50" width="50" alt="Product Image">
        </td>
        <td>@product.Title</td>
        <td>@product.ISBN</td>
        <td>@product.Author</td>
        <td>@product.Price</td>
        <td>@Html.DisplayFor(P => product.Category.Name)</td>

        <td>
            <div class="w-75 btn-group" role="group">
                <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary mx-2">
                    <i class="bi bi-pencil-square"></i> Edit
                </a>
                <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger mx-2">
                    <i class="bi bi-trash"></i> Delete
                </a>
                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="btn btn-danger mx-2">
                    <i class="bi bi-info-circle"></i> Details
                </a>
            </div>
        </td>


    </tr>
}*@
                
